.elemento-brano {
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 20px;
    img {
        width: 100%;;
        height: 200px;
        border-radius: 5px;
    }
    span {
        color: #ffffff;
        overflow-y: hidden;
        height: 20px;
    }

    .genre, .year {
        color: #9d9d9d;
    }
}
